body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg{background-color:#212429;
  overflow-x: hidden;
/*    background: radial-gradient(circle, #0f0f0f, #2d2a31, #0f0f0f);*/
  }


/* Track */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the scrollbar handle on hover */
}

.app-content, .welcome, .vaults, .discover {min-height: 800px;}

.app-content{background-color: #252435;}


.bg-sorrel-nav .nav-item a:hover {color: #7b8ab8!important;}
.bg-sorrel-nav {
    background-color: #242435;
}

.skipper {
  top: 0px; 
  right: 20px;
  z-index: 1000;
  }
.skipper a{text-decoration: none;}

.welcome{background-color: #252435;}
.wallet, .vaults, .discover {background-color: #2f3349;}

.account-balance .card, .search-box .card {
    height: 180px;
    background-color: #242435;
    border-radius: 0px 0px 30px 30px;
    color: #eee!important;
    border:none;
    box-shadow: 0 3px 0px #109e77;
}

.carousel-inner{color: #fff;}

.carousel-inner .bg-primary{background-color: #2f3349!important;}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.address-book i{font-size:48px;}

.dialpad{width: -webkit-fill-available;}


.transactions{
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto;
}

.transactions img.avatar{height: 42px; width: 42px;}

.address-book i {color:#6a539b;}

.address-book{
  max-height: 300px; /* Adjust the height as needed */
  overflow-x: auto;
}

.address-book .modal-body{
  max-height: 200px;
  overflow-y: auto;
}

/* Customize the scrollbar */

.address-book::-webkit-scrollbar{height: 5px;}

.address-book .modal-body::-webkit-scrollbar,
.address-book::-webkit-scrollbar,
.transactions::-webkit-scrollbar {
  width: 1px;
}

.address-book .modal-body::-webkit-scrollbar,
.address-book::-webkit-scrollbar-thumb,
.transactions::-webkit-scrollbar-thumb {
  background-color: #2f3349;
}

.address-book .modal-body::-webkit-scrollbar,
.address-book::-webkit-scrollbar-track,
.transactions::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav-options{
background-color: #f8f8f8;
}


/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */

.vibrate-1 {
  -webkit-animation: vibrate-1 0.2s linear infinite both;
          animation: vibrate-1 0.2s linear infinite both;
  color: #109e77;
  transition-timing-function: ease-in;
  transition: 1s;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
